:root {
    --primary-color: linear-gradient(to right, #f78c79, #ff809d);
    --secondary-color: linear-gradient(to right, #ffd0bb, #ecebee);
    --white-color:white;
    --black-color:black;
  }
  
  .display-block{
      display: block;
  }
  .display-none{
      display: none;
  }
  ul{
      text-decoration: none;
  }
  a{
    text-decoration: none;
    color: inherit;
  }
  
  .check-box,.radio-btn{
      height: 1.2rem;
      width: 1.4rem;
      vertical-align: bottom;
  }
  .hamburger,.cursorClick{
      cursor: pointer;
  }
  .btn-primary{
      background: var(--primary-color);
  }
  .btn-secondary{
   border: 1px solid var(--black-color)
  }
  .horiz-line-thin{
      background-color:var(--grey-color);
      height: 2px;
      margin:1px 1px 1px 0;
  }
  .vert-line-thin{
    background-color:var(--grey-color);
    height: 30px;
    width: 4px;
    margin:1px 1px 1px 0;
}
  .horiz-line-bold{
      background-color:var(--grey-color);
      border:2px solid var(--grey-color);
      height: 10px;
      margin:1rem 1rem 1rem 0;
  }
  .success{
      color:var(--success-color)
  }
  .btn-primary:hover,.btn-secondary:hover{
      box-shadow: var(--black-color) 1px 1px 6px;
  }
  [data-title]:hover:after {
      opacity: 1;
      transition: all 0.1s ease 0.1s;
      visibility: visible;
      
  }
  [data-title]:after {
      content: attr(data-title);
      background: var(--secondary-color);
      color: var(--dark-color);
      font-size: 1rem;
      position: absolute;
      padding:  5px;
      opacity: 0;
      left: -2.5rem;
      bottom: -2rem;
      z-index: 3;
      visibility: hidden;
  }
  [data-title] {
      position: relative;
  }
  
  .page-heading{
      padding-top: 3rem;
      text-align: center;
  }
  .card-footer {
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.1px;
}
input::placeholder {
    color: var(--black-color);
  }
  