    
.searchBar{
    border-radius: 5px;
    margin-bottom: 10%;
    padding: 0.4rem;
    width: 100%;
}
.mobileSearch{
    margin: 0;
}
.sidebar-wrapper{
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 3rem 1rem 0 1rem;
    border-right: 2px solid black;
    height:100vh;
    left: 0;
    min-height: 40vh;
    overflow-y: auto;
    position: sticky;
    top: 0;
    width: 20rem;
    min-width: max-content;
}

.sidebar-ul{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.filters-wrap{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
}
.list-wrap{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

/* Mobile-Version Styling */

.overlay {
    background-color: var(--white-color);
    color:var(--black-color);
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width:  100%;
    z-index: 1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
  }
@media (max-width: 700px){
    .overlay{
    display: block;
    }
}
  
  @media (max-height: 450px) {
    .overlay .closebtn {
    top: 15px;
    right: 35px;
    }
}