.mobileSearch::-webkit-input-placeholder {
    opacity: 1;
  }
.mobile-prod-filter{
    display: none;
}
.mobile-prod-filter>section{
    align-self: center;
}

.basic-card{
    border:none;
    box-shadow: var(--black-color) 0px 1px 3px;
}
.basic-card>div>header>p{
    font-size:0.7rem;
    color: var(--dark-color);
}
.card-col{
    width: 17rem;
    height: fit-content;
}
.card-img {
    height: 25vh;
}
.btn{
    font-size: 1rem;
}
.sidebar-product-container{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
.content-wrapper{
    display: flex;
    flex-wrap: wrap;  
    flex-basis: fit-content;
    gap: 2rem;
    justify-content: center;
    margin-left: 4rem;
    width: 100%;
}

.card-col:hover{
    box-shadow: var(--black-color) 4px 7px 9px;
    cursor: pointer;
}
.mobile-prod-filter{
    bottom: 0;
    background: var(--white-color);
    padding: 0.9rem;
    position: sticky;
    text-align: center;
}

@media(max-width:700px)
{
    .mobile-prod-filter{
        display: flex;
        justify-content: space-evenly;
    }
    .dsk-sidebar-wrap{
        display: none;
      
    }
}
